@charset "utf-8";
body {
	padding: 0;
	margin: 0;
	font: normal  Helvetiacal,Arial,sans-serif;
	background: #c9c8c8;
}
#container {
	display: -moz-box;
	display: -webkit-box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-shadow: 0em 0em 0.8em 0.6em #68696a ;
	border:0.3em solid #5d5d5d;
	margin: 1em;
	font-size: 1em;
	background: #ffffff;
}
.btn ul {
	list-style: none;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	margin-left: -1.2em;
}
.btn li {
	display: inline;
	margin-left: -2em;
	font-size: 1.2em;
}
.button {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;
	margin: 0 1em;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .1em .3em .55em;
	text-shadow: 0 .2em .2em rgba(0,0,0,2);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 1emrgba(0, 0, 0, .2);
	color: #f0eeee;
	border: solid 1px #fafafa;
	background: #626262;
	font-size: 1.2em;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: .2em;
}
.button:hover {
	color: #e0e0e0;
	background: #262525;
}
.headline {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
	padding-top: -0.9em;
}
.general {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	text-align: center;
	-webkit-column-count:2;
	-moz-column-count:2;
	column-fill: balance;
	-webkit-column-fill: balance;
	-moz-column-fill: balance;
	margin-top: -2em;
}
.general h1 {
	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;
	font-size: 1.7em;
}
.general #photo {
	background-image: url(img/xj2015_09_30_09_02_38_mr1443576413671_mh144357667.jpg) ;
	background-repeat: no-repeat;
	background-size: 9em 12em;
	width: 100%;
	height: 12em;
	background-position:center;
}
.table {
	border: none;
	line-height:1.5em;
	font-size: 1.3em;
	width: 100%;
	color: #111;
	text-align: left;
}
.table tr:hover {
	background: #4d4949;
	color: #f7f7f7;
}
.experience li{
	list-style-type: square;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: bold;
}
.skill li{
	font-size: 1.5em;
	list-style-type: square;
	font-weight: bold;
}
@media screen and (min-width:900px) {
	#container {
		margin: 4em;
	}
}
@media screen and (min-width:400px) and (max-width:700px) {
	#container {
		font-size: 0.8em;
	}
	.general #photo {
		background-size: 7em 10em;
	}
}

@media screen and (max-width:500px) {
	#container {
		font-size: 0.4em;
		margin: 0.05em;
	}
	.general {
		-webkit-column-count:1;
		-moz-column-count:1;
	}
	.general #photo {
		background-size: 4em 7em;
		height: 10em;
		background-position: center;
	}
	.general table {
		text-align: center;
	}
	.experience li {
		font-weight: 300;
	}
	.skill {
		font-weight: 300;
	}
}
.title {
	text-align: center;
	font-size: 1.9em;
	padding-top: 2em;
}
.general, .experience, .skill {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
