@charset "utf-8";
body {
	padding: 0;
	margin: 0;
	font: normal  Helvetiacal,Arial,sans-serif;
}
#container {
	display: -moz-box;
	display: -webkit-box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-shadow: 0em 0em 0.8em 0.6em #68696a ;
	border:0.3em solid #5d5d5d;
	margin: 1em;
	font-size: 1em;
}
#headline {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
	padding-top: 0.5em;
}
.general {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	text-align: center;
	-webkit-column-count:2;
	-moz-column-count:2;
	column-fill: auto;
	-webkit-column-fill: auto;
	-moz-column-fill: auto;
}
.general h1 {
	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;
}
.general #photo {
	background-image: url(img/xj2015_09_30_09_02_38_mr1443576413671_mh144357667.jpg) ;
	background-repeat: no-repeat;
	background-size: 9em 12em;
	width: 100%;
	height: 12em;
	background-position:center;
}
.table {
	border: none;
	line-height:1.5em;
	font-size: 1.3em;
	width: 100%;
	color: #111;
}
#experience li{
	list-style-type: square;
	margin: 0;
	padding: 0;
}
@media screen and (min-width:900px) {
	#container {
		margin: 2em;
	}
}
@media screen and (min-width:400px) and (max-width:600px) {
	#container {
		font-size: 0.8em;
	}
}

@media screen and (max-width:500px) {
	#container {
		font-size: 0.4em;
		margin: 0.05em;
	}
	.general {
		-webkit-column-count:1;
		-moz-column-count:1;
	}
	.general #photo {
		background-size: 4em 7em;
		height: 10em;
		background-position: center;
	}
}
.title {
	text-align: center;
	font-size: 1.6em;
}
.general, .experience, .skill {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
