body {
	background: -webkit-radial-gradient(90%,#842c2c,#720101);
	background: -moz-radial-gradient(90%,#842c2c,#720101);
	background: -ms-radial-gradient(90%,#842c2c,#720101);
}
#MI {
	text-align: center;
	font-size: 4em;
}
#MI ul {
	margin-top: -4em;
}
#MI ul li{
	margin: -20px;
}
#MI li{
	display: inline-block;
}
#MI li div {
	display: -moz-box;
	display: -webkit-box;
	display: -ms-box;
	display: box;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center;
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	width: 100%;
}
#MI ul>li>p {
	font-family: sans-serif;
	font-size:5em;
	font-weight: bolder;
	text-shadow: 3px 5px #d4cda6;
	color: #dbd5b7;
	-webkit-text-stroke: 4px #d8b457;
	-ms-text-stroke: 4px #d8b457;
	text-stroke: 4px #d8b457;
}
#MI ul>li:nth-child(3) {
	-webkit-transform: rotateZ(7deg); 
	-moz-transform: rotateZ(7deg); 
	transform: rotateZ(7deg); 
}
#MI ul>li:nth-child(4) {
	-webkit-transform: rotateZ(7deg); 
	-moz-transform: rotateZ(7deg); 
	transform: rotateZ(7deg); 
}
#MI>p {
	font-family: cursive;
	margin: -6em;
	color: #c6c686;
	font-weight: bolder;
	text-shadow: -2px 5px #000;
	-webkit-text-shadow: -2px 5px #000;
	text-shadow: -2px 5px #000;
	position: relative;
	-webkit-animation: txt 1s ease-in-out 1s infinite alternate;	
	-moz-animation: txt 1s ease-in-out 1s infinite alternate;	
	animation: txt 1s ease-in-out 1s infinite alternate;	
}
@keyframes txt {
	0% {
		-webkit-transform: rotateX(1deg) rotateY(1deg) scale(1.3 , 1.3);
		-moz-transform: rotateX(1deg) rotateY(1deg) scale(1.3 , 1.3);
		transform: rotateX(1deg) rotateY(1deg) scale(1.3 , 1.3);
	}
}
@media screen and (max-width:600px) {
	#MI {
		font-size: 2em;
	}
	#MI ul {
		margin-top: -1em;
	}
	#MI ul li {
		margin: -5px;
	}
	#MI ul>li>p {
		font-size: 3em;
	}
}